.formCheckout {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
}

.formCheckout label {
    margin-right: 50px;
}

.section_form {
    display: flex;
    margin-top: 20px;
}

.form_adress, .recommendation {
    padding: 10px;
    width: 90%;
    margin: 0 auto;
}

.input_checkout:focus {
    border: none;
    padding: 15px;
}

.form_adress {
    display: none;
}

.checked {
    display: block;
}

.button_payment {
    display: block;
    padding: 10px 20px;
    margin: 0 auto;
    margin-top: 20px;
    width: 100px;
    outline: none;
    border: none;
    background-color: purple;
    color: white;
    font-weight: bold;
}

.order_info {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 15px 30px;
    border-bottom: 1px solid #ededed;
}

.order_info_body, .order_details, .order_details_2 {
    padding: 30px;
    border-bottom: 1px solid #ededed;
}

.order_details {
    background-color: #f7fafc;
}

.order_info_body h5 {
    font-size: 18px;
}

.order_info_body .check {
    color: purple;
    font-size: 21px;
}

.bouton_dl {
    display: block;
    padding: 10px 20px;
    margin-top: 20px;
    width: 250px;
    outline: none;
    border: none;
    background-color: purple;
    color: white;
    font-weight: bold;
}

.shipping {
    padding: 30px;
}

.shipping, .order_details_2 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ededed;
}

.terms {
    padding: 30px 30px;
    ;
}

.link_terms {
    font-size: 12px;
    color: purple;
    font-weight: bold;
}

.title_order {
    font-size: 18px;
    color: purple;
    font-weight: bold;
    width: 40%;
}

.price_order {
    font-size: 18px;
    color: grey;
    font-weight: bold;
    width: 20%;
}

.img_order {
    width: 10%
}

.back_home a {
    font-size: 24px;
    color: grey;
    display: block;
    margin-right: 20px;
}

@media only screen and (max-width: 800px) {
    .order_details_2 {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }
    .shipping {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}